@using GOTCharacterApp.Models
@using GOTCharacterApp.Services

@page "/characters"
@inject GOTService GotService
@inject NavigationManager NavigationManager

<h1>Game of Thrones Characters</h1>

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="list-group">
        @foreach (var character in characters)
        {
            <a class="list-group-item list-group-item-action"
               @onclick="@(() => NavigateToDetails(character.FullName))">
                <div class="media">
                    <img src="@character.ImageUrl" alt="@character.FullName" class="align-self-start mr-3" style="width:64px;">
                    <div class="media-body">
                        <h5 class="mt-0">@character.FullName (@character.Title)</h5>
                    </div>
                </div>
            </a>
        }
    </div>
}

@code {
    private Character[] characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await GotService.GetAllCharactersAsync();
    }

    private void NavigateToDetails(string fullName)
    {
        NavigationManager.NavigateTo($"/character-details/{fullName}");
    }
}
